/* -----------------------------------------
   Baseline Imports
----------------------------------------- */
/* line 17, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 52, ../scss/_base.scss */
.ir {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

/* line 60, ../scss/_base.scss */
.cf {
  *zoom: 1;
}

/* line 61, ../scss/_base.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 62, ../scss/_base.scss */
.cf:after {
  clear: both;
}

/* line 1, ../scss/_global.scss */
html {
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  color: #a0a2a5;
}

/* line 7, ../scss/_global.scss */
body {
  background: #e6e7e2;
  position: relative;
}

/* line 12, ../scss/_global.scss */
i, em {
  font-style: italic;
}

/* line 16, ../scss/_global.scss */
b, strong {
  font-weight: bold;
}

/* line 20, ../scss/_global.scss */
h1 {
  color: #ac3638;
  text-transform: uppercase;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}

/* line 28, ../scss/_global.scss */
h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 35, ../scss/_global.scss */
h3 {
  color: #ac3638;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: 100;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 43, ../scss/_global.scss */
h4 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

/* line 49, ../scss/_global.scss */
h5 {
  text-transform: uppercase;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: bold;
}

/* line 55, ../scss/_global.scss */
p {
  font-size: 12px;
  font-size: 0.75rem;
  font-family: Verdana, sans-serif;
  line-height: 1.6667;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}

/* line 62, ../scss/_global.scss */
img.left {
  float: left;
  margin-right: 16px;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 68, ../scss/_global.scss */
a, a:link, a:active, a:focus, a:visited, a:hover {
  color: #ac3638;
  text-decoration: underline;
}

/* line 73, ../scss/_global.scss */
a:hover {
  color: #eb2622;
}

/* line 78, ../scss/_global.scss */
.button, .button:link, .button:active, .button:focus, .button:visited, .button:hover {
  float: left;
  clear: both;
  padding: 15px 7.2%;
  padding: 0.9375rem 7.2%;
  -webkit-box-shadow: -1px 1px 1px 0 #bebebe;
  -moz-box-shadow: -1px 1px 1px 0 #bebebe;
  box-shadow: -1px 1px 1px 0 #bebebe;
  color: #e4e4e4;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 10px;
  line-height: 0.625rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  background: #B65D60;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top left, #b75f62 50%, #9c2a2f 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top left, #b75f62 50%, #9c2a2f 100%);
  /* Opera */
  background-image: -o-linear-gradient(top left, #b75f62 50%, #9c2a2f 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.5, #b75f62), color-stop(1, #9c2a2f));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top left, #b75f62 50%, #9c2a2f 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom right, #b75f62 50%, #9c2a2f 100%);
}

/* line 115, ../scss/_global.scss */
.button:hover {
  color: #fff;
}

/* line 119, ../scss/_global.scss */
.legal {
  font-size: 9px;
  font-size: 0.5625rem;
}

/* line 123, ../scss/_global.scss */
#page {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  margin: 0 auto;
  width: 1024px;
}

/* line 130, ../scss/_global.scss */
#container {
  background: #ffffff;
  border-left: 1px solid #e6e7e2;
  border-right: 1px solid #e6e7e2;
}

/* line 1, ../scss/_header.scss */
header {
  height: 174px;
  height: 10.875rem;
  background: url(../images/header-bg.jpg) no-repeat center top;
  padding: 0 4.88281%;
}
/* line 6, ../scss/_header.scss */
header a {
  float: left;
  margin-top: 56px;
  margin-top: 3.5rem;
}
/* line 10, ../scss/_header.scss */
header a.ana-logo {
  float: right;
}

/* line 1, ../scss/_content.scss */
#content {
  background: #ffffff;
  margin: -12px 1.95313% 18px;
  margin: -0.75rem 1.95313% 1.125rem;
  padding: 30px 2.92969% 50px;
  padding: 1.875rem 2.92969% 3.125rem;
  -webkit-box-shadow: 0 0 6px 0 #cccccc;
  -moz-box-shadow: 0 0 6px 0 #cccccc;
  box-shadow: 0 0 6px 0 #cccccc;
  border: 1px solid #dddddd;
}
/* line 10, ../scss/_content.scss */
#content .main {
  float: left;
  width: 62.5%;
}
/* line 14, ../scss/_content.scss */
#content .main .stage {
  border: 1px solid #c7c8ca;
  -webkit-box-shadow: -3px 3px 3px 0 #d9d9d9;
  -moz-box-shadow: -3px 3px 3px 0 #d9d9d9;
  box-shadow: -3px 3px 3px 0 #d9d9d9;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  position: relative;
}
/* line 20, ../scss/_content.scss */
#content .main .stage .feature {
  height: 320px;
  height: 20rem;
  display: none;
}
/* line 24, ../scss/_content.scss */
#content .main .stage .feature.active-feature {
  display: block;
}
/* line 28, ../scss/_content.scss */
#content .main .stage .feature.quote {
  background: #bac2c9 url(../images/feature-bg.jpg) repeat-x left top;
  height: 320px;
  height: 20rem;
  color: #ffffff;
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
}
/* line 37, ../scss/_content.scss */
#content .main .stage .feature.quote blockquote {
  padding: 70px 12%;
  padding: 4.375rem 12%;
}
/* line 41, ../scss/_content.scss */
#content .main .stage .feature.quote blockquote .source {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  margin-left: 18%;
}
/* line 49, ../scss/_content.scss */
#content .main .stage .feature iframe {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
/* line 58, ../scss/_content.scss */
#content .main .feature-links {
  margin-top: 4px;
  margin-top: 0.25rem;
  margin-left: 1.39%;
}
/* line 63, ../scss/_content.scss */
#content .main .feature-links .feature-link {
  float: left;
  width: 20%;
  margin-right: 3.5%;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  color: #a0a2a5;
  text-decoration: none;
}
/* line 71, ../scss/_content.scss */
#content .main .feature-links .feature-link .thumbnail {
  border: 1px solid #c7c8ca;
  -webkit-box-shadow: -2px 2px 4px 0 #dddddd;
  -moz-box-shadow: -2px 2px 4px 0 #dddddd;
  box-shadow: -2px 2px 4px 0 #dddddd;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
  background: #e3e4e5;
}
/* line 77, ../scss/_content.scss */
#content .main .feature-links .feature-link .thumbnail .img {
  height: 58px;
  height: 3.625rem;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  opacity: 0.3;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  /* Firefox 4 */
  -webkit-transition: opacity 500ms;
  /* Safari and Chrome */
  -o-transition: opacity 500ms;
  /* Opera */
}
/* line 90, ../scss/_content.scss */
#content .main .feature-links .feature-link p {
  font-size: 9px;
  font-size: 0.5625rem;
  margin-bottom: 0;
}
/* line 95, ../scss/_content.scss */
#content .main .feature-links .feature-link:hover .img {
  opacity: 1;
}
/* line 99, ../scss/_content.scss */
#content .main .feature-links .feature-link.active-feature-link .img {
  opacity: 1;
}
/* line 106, ../scss/_content.scss */
#content .main .download {
  height: 108px;
  height: 6.75rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  background: url(../images/download-bg.jpg) no-repeat left top;
  background: url(../images/download-bg.jpg) no-repeat left top, url(../images/download-bg-repeater.jpg) repeat-x left top;
  padding-left: 28%;
}
/* line 113, ../scss/_content.scss */
#content .main .download h3 {
  padding-top: 40px;
  padding-top: 2.5rem;
  font-size: 25px;
  font-size: 1.5625rem;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-bottom: 0.4375rem;
}
/* line 120, ../scss/_content.scss */
#content .main .download a {
  display: block;
  height: 14px;
  height: 0.875rem;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 14px;
  line-height: 0.875rem;
  padding-left: 18px;
  background: url(../images/arrow.png) no-repeat left center;
}
/* line 131, ../scss/_content.scss */
#content .main > p, #content .main > h4 {
  margin-left: 1.39%;
}
/* line 137, ../scss/_content.scss */
#content .side {
  float: right;
  width: 33%;
}
/* line 141, ../scss/_content.scss */
#content .side h2, #content .side h3, #content .side p {
  margin-right: 24%;
}
/* line 145, ../scss/_content.scss */
#content .side .contact {
  clear: both;
  margin-top: 20px;
  margin-top: 1.25rem;
}
/* line 149, ../scss/_content.scss */
#content .side .contact h3 {
  margin-right: 30%;
}
/* line 153, ../scss/_content.scss */
#content .side .contact .contact-heading {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #f0f0ef 20%, white 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #f0f0ef 20%, white 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #f0f0ef 20%, white 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #f0f0ef), color-stop(1, white));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #f0f0ef 20%, white 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #f0f0ef 20%, #ffffff 100%);
  padding-top: 1px;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

/* line 185, ../scss/_content.scss */
.contact h5 {
  background: #F9F7F6;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #f9f7f6 20%, white 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #f9f7f6 20%, white 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #f9f7f6 20%, white 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #f9f7f6), color-stop(1, white));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #f9f7f6 20%, white 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #f9f7f6 20%, #ffffff 100%);
  line-height: 24px;
  line-height: 1.5rem;
  padding-left: 3%;
}
/* line 210, ../scss/_content.scss */
.contact > span, .contact > a {
  display: block;
  color: #ac3638;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 16px;
  line-height: 1rem;
  padding-left: 3%;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}
/* line 219, ../scss/_content.scss */
.contact a {
  text-decoration: none;
}
/* line 222, ../scss/_content.scss */
.contact a:hover {
  color: #eb2622;
  text-decoration: underline;
}

/* line 1, ../scss/_footer.scss */
footer {
  background: url(../images/footer-bg.jpg) no-repeat center bottom;
  padding: 0 2.14844% 190px;
  padding: 0 2.14844% 11.875rem;
}
/* line 6, ../scss/_footer.scss */
footer a {
  float: left;
}
/* line 8, ../scss/_footer.scss */
footer p {
  float: left;
  margin-left: 1.17188%;
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 10px;
  font-size: 0.625rem;
  color: #c8c8c1;
  line-height: 14px;
  line-height: 0.875rem;
}

/* line 1, ../scss/_modal.scss */
.modal {
  display: none;
  position: absolute;
  z-index: 999999;
  background: #dcddde;
  border: 2px solid #dcddde;
  -webkit-box-shadow: inset 0px 1px 1px 0 #999999;
  -moz-box-shadow: inset 0px 1px 1px 0 #999999;
  box-shadow: inset 0px 1px 1px 0 #999999;
  padding: 50px;
  width: 262px;
}
/* line 12, ../scss/_modal.scss */
.modal .close {
  width: 13px;
  height: 14px;
  background: url(../images/close.png) no-repeat center;
  position: absolute;
  top: 7px;
  right: 6px;
}
/* line 21, ../scss/_modal.scss */
.modal h3 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 28px;
  line-height: 1.75rem;
  text-transform: uppercase;
}
/* line 27, ../scss/_modal.scss */
.modal form {
  margin-left: 20%;
  font-family: Verdana, sans-serif;
}
/* line 31, ../scss/_modal.scss */
.modal form h4 {
  font-family: Helvetica, sans-serif;
}
/* line 35, ../scss/_modal.scss */
.modal form legend {
  display: block;
  font-size: 10px;
  font-size: 0.625rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}
/* line 40, ../scss/_modal.scss */
.modal form legend.error {
  color: #ac3638;
}
/* line 46, ../scss/_modal.scss */
.modal form label {
  display: block;
  color: #737476;
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-top: 0.625rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 53, ../scss/_modal.scss */
.modal form label.ir {
  height: 0;
  margin: 0;
}
/* line 59, ../scss/_modal.scss */
.modal form input {
  display: block;
  width: 245px;
  border: 1px solid #c0c2c3;
  padding: 4px;
  background: #e5e6e5;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #e7e7e5 0%, #e1e2e2 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #e7e7e5 0%, #e1e2e2 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #e7e7e5 0%, #e1e2e2 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e7e7e5), color-stop(1, #e1e2e2));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #e7e7e5 0%, #e1e2e2 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #e7e7e5 0%, #e1e2e2 100%);
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 91, ../scss/_modal.scss */
.modal form input[type="submit"] {
  float: left;
  width: auto;
  padding: 4px 4%;
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  background: #ac3638;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0px 0px 1px 0 #999999;
  -moz-box-shadow: 0px 0px 1px 0 #999999;
  box-shadow: 0px 0px 1px 0 #999999;
}
/* line 102, ../scss/_modal.scss */
.modal form input[type="submit"]:hover {
  cursor: pointer;
}
/* line 109, ../scss/_modal.scss */
.modal form .error input {
  border: 1px solid #b65f60;
  background: #d5bbbc;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #d5bbbc 0%, #cda2a3 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #d5bbbc 0%, #cda2a3 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #d5bbbc 0%, #cda2a3 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #d5bbbc), color-stop(1, #cda2a3));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #d5bbbc 0%, #cda2a3 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #d5bbbc 0%, #cda2a3 100%);
}
/* line 110, ../scss/_modal.scss */
.modal form .error input::-webkit-input-placeholder {
  color: #ac3638;
}
/* line 113, ../scss/_modal.scss */
.modal form .error input:-moz-placeholder {
  color: #ac3638;
}
/* line 116, ../scss/_modal.scss */
.modal form .error input:-ms-placeholder {
  color: #ac3638;
}
/* line 140, ../scss/_modal.scss */
.modal form .error label {
  color: #ac3638;
}
/* line 146, ../scss/_modal.scss */
.modal#form-modal {
  padding: 50px 22px;
  width: 318px;
}
/* line 151, ../scss/_modal.scss */
.modal#form-modal h3 {
  height: 84px;
  height: 5.25rem;
  padding-top: 26px;
  padding-top: 1.625rem;
  padding-left: 46.5%;
  background: url(../images/download-bg-modal.png) no-repeat left center;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}
/* line 159, ../scss/_modal.scss */
.modal#form-modal .legal {
  clear: both;
}
/* line 166, ../scss/_modal.scss */
.modal#thanks-modal h4 {
  line-height: 20px;
  line-height: 1.25rem;
}
/* line 171, ../scss/_modal.scss */
.modal#thanks-modal .contact h5 {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #e4e4e3 20%, #dfdfe0 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #e4e4e3 20%, #dfdfe0 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #e4e4e3 20%, #dfdfe0 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #e4e4e3), color-stop(1, #dfdfe0));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #e4e4e3 20%, #dfdfe0 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #e4e4e3 20%, #dfdfe0 100%);
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}
/* line 192, ../scss/_modal.scss */
.modal#thanks-modal .contact > span, .modal#thanks-modal .contact > a {
  font-family: Verdana, sans-serif;
}

/* line 200, ../scss/_modal.scss */
.ie .error input {
  color: #ac3638;
}

/* line 204, ../scss/_modal.scss */
#mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900000;
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
}
